@charset "utf-8";

/**
 * layout css style
 */

.margin_0 { margin:0 !important;}
.margin_5 { margin:5px !important;}
.margin_10 { margin:10px !important;}
.margin_20 { margin:20px !important;}
.margin_30 { margin:30px !important;}
.margin_40 { margin:40px !important;}

.margin_t0 { margin-top:0px !important;}
.margin_t5 { margin-top:5px !important;}
.margin_t10 { margin-top:10px !important;}
.margin_t20 { margin-top:20px !important;}
.margin_t30 { margin-top:30px !important;}
.margin_t40 { margin-top:40px !important;}
.margin_t50 { margin-top:50px !important;}
.margin_t60 { margin-top:60px !important;}

.margin_r0 { margin-right:0px !important;}
.margin_r5 { margin-right:5px !important;}
.margin_r10 { margin-right:10px !important;}
.margin_r20 { margin-right:20px !important;}
.margin_r30 { margin-right:30px !important;}
.margin_r40 { margin-right:40px !important;}
.margin_r50 { margin-right:50px !important;}
.margin_r60 { margin-right:60px !important;}

.margin_l0 { margin-left:0px !important;}
.margin_l5 { margin-left:5px !important;}
.margin_l10 { margin-left:10px !important;}
.margin_l20 { margin-left:20px !important;}
.margin_l30 { margin-left:30px !important;}
.margin_l40 { margin-left:40px !important;}
.margin_l50 { margin-left:50px !important;}
.margin_l60 { margin-left:60px !important;}

.margin_b0 { margin-bottom:0px !important;}
.margin_b5 { margin-bottom:5px !important;}
.margin_b10 { margin-bottom:10px !important;}
.margin_b20 { margin-bottom:20px !important;}
.margin_b30 { margin-bottom:30px !important;}
.margin_b40 { margin-bottom:40px !important;}
.margin_b50 { margin-bottom:50px !important;}
.margin_b60 { margin-bottom:60px !important;}

.padding_0 { padding:0px !important;}

.padding_t5 { padding-top:5px !important;}
.padding_t10 { padding-top:10px !important;}
.padding_t20 { padding-top:20px !important;}
.padding_t30 { padding-top:30px !important;}
.padding_t40 { padding-top:40px !important;}
.padding_t50 { padding-top:50px !important;}
.padding_t60 { padding-top:60px !important;}

.padding_b5 { padding-bottom:5px !important;}
.padding_b10 { padding-bottom:10px !important;}
.padding_b20 { padding-bottom:20px !important;}
.padding_b30 { padding-bottom:30px !important;}
.padding_b40 { padding-bottom:40px !important;}
.padding_b50 { padding-bottom:50px !important;}
.padding_b60 { padding-bottom:60px !important;}

.padding_r5 { padding-right:5px !important;}
.padding_r10 { padding-right:10px !important;}
.padding_r20 { padding-right:20px !important;}
.padding_r30 { padding-right:30px !important;}
.padding_r40 { padding-right:40px !important;}
.padding_r50 { padding-right:50px !important;}
.padding_r60 { padding-right:60px !important;}

.padding_l5 { padding-left:5px !important;}
.padding_l10 { padding-left:10px !important;}
.padding_l20 { padding-left:20px !important;}
.padding_l30 { padding-left:30px !important;}
.padding_l40 { padding-left:40px !important;}
.padding_l50 { padding-left:50px !important;}
.padding_l60 { padding-left:60px !important;}


.align_c { text-align:center;}
.align_r { text-align:right;}
.align_l { text-align:left;}

.float_l{ float:left;}
.float_r{ float:right;}
.clear { clear:both;}


/* clear fix */
:after { display:block; clear:both;} /* この記述は固定です */
element {zoom: 1;} /* clearfix IE6, 7 */
element:after {content:"";} /* clearfix */
.clearfix { zoom: 1;}  
.clearfix:after{ content: ""; display: block; clear:both;}

